{{#each candidatos}}
  <div class="card card-body mb-2">
    <p>Nome: {{nome}}</p>
    <p>Email: {{email}}</p>
    <p>DtNasc: {{dtnasc}}</p>
    <p>Interesse: {{interesse}}</p>
  </div>
{{else}}
  <p>Não há candidatos na planilha</p>
{{/each}}